@model IEnumerable<BookSellingAssignment.Models.BookViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">WELCOME TO ONLINE BOOK STORE</h1>
<form asp-controller="BookSelling" asp-action="SearchBook" method="get">
                <input type="search" placeholder="Search book by name or zoner..." name="searchByNameOrZoner" value="@ViewData["BookInfo"]" class="form-control mb-2 ml mr-2" />                               
                  <input type="submit"  value="search" class="btn btn-outline-dark" />
                  </form>
<div class="row">
     @foreach(var book in Model)
{

                    <div class="col-lg-3 col-md-6 ">
                        <div class="card mb-4" style="width: 18rem;">
                             <img class="card-img-top mx-auto d-block pt-4" style="width:200px; height:200px" src="/@book.ImageUrl" alt="Card image cap">
                             <div class="card-body">
                              <h5 class="card-title">@book.Name<p class="lead" >(@book.Zoner)</p></h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                               <a asp-action="Details"  asp-route-id="@book.Id" class="btn btn-outline-dark">Details</a>
                              <a  asp-action="UpdateBookDetails" asp-route-id="@book.Id" class="btn btn-outline-info">Update</a>
                                <a  asp-action="DeleteBook" asp-route-id="@book.Id" class="btn btn-outline-danger">Remove</a>
                             </div>
                         </div>  
          
            </div>     
            

    
}
</div>
   